.app-container {
  height: 100vh;

  .sidenav {
    background-color: var(--app-color-primary);
  }

  .content-container {
    display: flex;
    flex-direction: column;

    main {
      flex-grow: 1;
      overflow-x: hidden;
    }
  }
}
