$primary: (
  50: #191d21,
  100: #c0e7d1,
  200: #98d7b4,
  300: #6bc897,
  400: #46bc81,
  500: #0cb06b,
  600: #00a161,
  700: #008f54,
  800: #007e48,
  900: #005e33,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
  ),
);

$secondary: (
  50: #efefef,
  100: #d7d7d8,
  200: #b9bec1,
  300: #9ba4ab,
  400: #84919a,
  500: #6d7e8a,
  600: #606f79,
  700: #505b62,
  800: #41484d,
  900: #2f3336,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
  ),
);

$scheduler-bg: #00a161;
$scheduler-bg-dark: #424240;
$scheduler-bg-light: #adadad;
$scheduler-dark-2: #191d21;
$scheduler-dark-3: #2f3336;
$scheduler-bg-2: #8c8c8c;
