<ng-container *ngIf="vm$ | async as vm">
  <mat-list class="m-3">
    <mat-list-item
      *ngFor="let shoppingList of vm.shoppingLists"
      matRipple
      class="shopping-list mb-3 rounded-2"
      (click)="onClickShoppingList(shoppingList)"
    >
      <h3 matLine>{{ shoppingList.name }}</h3>
      <p matLine class="d-inline-flex justify-content-between">
        <span>{{ shoppingList.lastEditDateTime | date: DateFormat.DATE_PIPE_DATE }}</span>
        <span>{{ shoppingList.lastEditDateTime | date: DateFormat.DATE_PIPE_TIME }}</span>
      </p>
      <p matLine class="items">
        <span *ngFor="let item of shoppingList.items" class="item">{{ item.name }}</span>
      </p>
    </mat-list-item>
  </mat-list>
</ng-container>
